@charset "UTF-8";

/* estilo do footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
    padding: 1rem;
    color: var(--color-dark);
    text-align: center;
    font-size: 0.8rem;
}

.footer-link {
    text-decoration: underline;
}